" NOTES:
" Vim uses " for comments annoyingly!

" Vim-Plug
"-------------------------------------------------------------------
" Install Vim-plug
let data_dir = has('nvim') ? stdpath('data') . '/site' : '~/.vim'
if empty(glob(data_dir . '/autoload/plug.vim'))
  silent execute '!curl -fLo '.data_dir.'/autoload/plug.vim --create-dirs  https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
  autocmd VimEnter * PlugInstall --sync | source $MYVIMRC
endif

" Specify a directory for plugins
call plug#begin('~/.vim/plugged')

Plug 'neoclide/coc.nvim', {'branch': 'release'}
Plug 'luochen1990/rainbow'

call plug#end()

" CoC Conquer of Commands Configs
"-------------------------------------------------------------------
let g:coc_global_extensions = ['coc-tabnine','coc-yaml','coc-json']

" NERDTree Configs
"-------------------------------------------------------------------

" Start NERDTree. If a file is specified, move the cursor to its window.
autocmd StdinReadPre * let s:std_in=1
autocmd VimEnter * NERDTree | if argc() > 0 || exists("s:std_in") | wincmd p | endif

let NERDTreeShowHidden=1
let NERDTreeMapActivateNode='<space>'
let g:NERDTreeWinPos = "right"

" Rainbow
"-------------------------------------------------------------------
let g:rainbow_active = 1 "set to 0 if you want to enable it later via :RainbowToggle





" Mapping controls
"-------------------------------------------------------------------
mapc "Remap to defaults first

" Navigation
noremap h <Up>
noremap j <Down>
noremap k <Left>
noremap l <Right>
" Window Navifation
noremap <C-w>h <C-w><Up> 
noremap <C-w>j <C-w><Down> 
noremap <C-w>k <C-w><Left> 
noremap <C-w>l <C-w><Right> 

" Configs
"-------------------------------------------------------------------

" Disable compatibility with vi which can cause unexpected issues.
set nocompatible

set number
set autoindent

filetype on
filetype plugin on
filetype indent on
syntax on

" Change cursor
set cursorline
autocmd InsertEnter * set cul
autocmd InsertLeave * set nocul

" Commands
command Tree NERDTree

